body, html, *{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h1 {
    text-align: center;
    font-size: 10rem; 
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    color: gold
}

body{
    background-color: rgb(67, 23, 23);
}

h2 {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 3.5rem ;
    color: darkslateblue;
    margin-top: 2%;
    margin-bottom: 2%;
}


.container{
    width: 85vw;
    height: 85vw;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}


.posts{
    background-color: white;
    border-radius: 4rem;
    border: solid brown;
    border-width: 1.5rem;
    width: 22%;
    height: 35%;
    flex-shrink: 0;
    min-width: 30rem;
    min-height: 45rem;    
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}

img {
    width: 75%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 5rem;
}

button{
    border-radius: 0.5rem;
    background-color: slateblue;
    text-align: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

button:hover{
  transition-duration: 0.2s;
  background-color: brown;
  transform: scaleY(1.2);
}

.talismans:hover{
  transition-duration: 0.2s;
  background-color: black;
  transform: scaleX(1.2);
}

.bosses:hover{
  transition-duration: 0.2s;
  background-color: gold;
  transform: scaleY(1.2);
}

a{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
}
