body, html, *{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 10rem; 
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    color: gold
}

body{
    background-color: rgb(67, 23, 23);
}

h2 {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 5rem;
    color: darkslateblue;
    margin-top: 2rem;
}


.container{
    width: 80vw;
    height: 40vw;
    display: flex;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15rem;
}


.posts{
    background-color: white;
    border-radius: 4rem;
    border: solid brown;
    border-width: 1rem;
    width: 28%;
    height: 50%;
    padding: 2rem;

}




