body, html, *{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 10rem; 
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    color: gold
}

body{
    background-color: rgb(67, 23, 23);
}

h2 {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 3.5rem ;
    color: darkslateblue;
    margin-top: 2%;
    margin-bottom: 2%;
}


.container{
    width: 85vw;
    height: 85vw;
    font-size: 2rem;    
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;    
    display: flex;
    align-items: center;
}


.posts{
    background-color: white;
    border-radius: 4rem;
    border: solid brown;
    border-width: 1.5rem;
    width: 30%;
    height: 40%;
    flex-shrink: 0;
    min-width: 25rem;
    min-height: 30rem;    
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}

img {
    width: 75%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 5rem;
}




button{
    border-radius: 0.5rem;
    background-color: slateblue;
    text-align: center;
    display: block;
}

a{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.0rem;
    color: aliceblue;
    text-align: center;
}
