body, html, *{
    font-size: 62.5% ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 
}

.parent{
    font-size: 20px;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;

}

h2 {
    margin: 1rem ;
}

.px-size{
    font-size: 20px;
}

.rem-size{
    font-size: 2rem;
}

.em-size{
    font-size: 1em;
}

.child{
    width: 20% ;
    
}

.child-1 {
    border: 3px solid yellow;
    height: 300px;
}

.child-2 {
    border: 3px solid red;
    height: 500px;
    flex-grow: 1;
}

.child-3 {
    border: 3px solid green;
    height: 600px;
    flex-grow: 3;
}

p{
    font-size: 100px;
}

img{
    height: 3rem;
}

.about {
    height: 100vh;
    background-color: blue;
}

.about-row {
    background-color: red;
}

.about-col {
    background-color: blueviolet;
    height: 90%;
    width: 25%;
}